@model EscalonamentoHospitalar.Models.Paciente

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Delete</h2>

<h3>Tem a certeza que deseja eliminar?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cod_Postal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cod_Postal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data_Nascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Nascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero_Utente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero_Utente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contacto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PacienteId" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar a Lista </a>
    </form>
</div>
