@model IEnumerable<EscalonamentoHospitalar.Models.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}

<h2>Pacientes</h2>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Numero_Utente)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Numero_Utente)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.PacienteId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PacienteId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PacienteId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
