@model EscalonamentoHospitalar.Models.Medico

@{
    ViewData["Title"] = "Delete";
}

<h3>Tem a certeza que quer apagar o médico?</h3>
<div>
    <h4>Medico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Número Mecanográfico
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroMecanografico)
        </dd>
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Contacto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt>
            Nº Cartão de Cidadão
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CC)
        </dd>
        <dt>
            Data de Nascimento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Nascimento)
        </dd>
        <dt>
            Especialidade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EspecialidadeMedico.EspecialidadeMedicoId)
        </dd>
        <dt>
            Data de início ao serviço
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Inicio_Servico)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MedicoId" />
        <input type="submit" value="APAGAR" class="btn btn-default" /> |
        <a asp-action="Index">Voltar à lista de médicos</a>
    </form>
</div>
