@model EscalonamentoHospitalar.Models.Medico

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes do médico</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Número Mecanográfico
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroMecanografico)
        </dd>
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Contacto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt>
            Nº Cartão de Cidadão
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CC)
        </dd>
        <dt>
            Data de Nascimento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Nascimento)
        </dd>
        <dt>
            Especialidade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EspecialidadeMedico.NomeEspecialidade)
        </dd>
        <dt>
            Data de início ao serviço
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Inicio_Servico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit"  class="btn btn-warning"  asp-route-id="@Model.MedicoId">Editar</a> |
    <a asp-action="Index" class="btn btn-default">Voltar à lista de médicos</a>
</div>
