@*@model IEnumerable<EscalonamentoHospitalar.Models.Medico>*@
@model ListaMedicosViewModel
@{
    ViewData["Title"] = "Lista de médicos";
}


@if (TempData["notice"] != null)
{
    <!--Mensagem de sucesso quando insere um médico-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O registo foi inserido com sucesso.
    </div>
}

@if (TempData["deleteMedico"] != null)
{
    <!--Mensagem de sucesso quando elimina o médico-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> Médico eliminado com sucesso.
    </div>
}

@if (TempData["successEdit"] != null)
{
    <!--Mensagem de sucesso quando edita o médico-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O registo foi alterado com sucesso.
    </div>
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    //Passados 5 segundos a mensagem desaparece
    $(document).ready(function () {
        $("#suc_form").hide(10000);
    });
</script>

<h2>Lista de Médicos</h2>

<form asp-action="Index">
    
    <p style="float: right">
        Pesquisar por nome: <input style="width: 200px; " asp-for="CurrentNome" placeholder="Insira o nome a pesquisar" />
        <input type="submit" value="Pesquisar" class="btn btn-info" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
        <tr>
            <th>
                Número Mecanográfico
            </th>
            <th>
                Nome
            </th>
            <th>
                Especialidade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Medicos)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMecanografico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspecialidadeMedico.NomeEspecialidade)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.MedicoId">Editar</a>
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.MedicoId">Detalhes</a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.MedicoId">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>


<div page-model="@Model.Pagination"
     page-action="Index"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-default"
     page-class-selected="btn-primary"
     class="btn-group pull-right">
</div>

<br />
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Inserir um novo médico</a>
</p>
<hr />
<div>
    <a href='@Url.Action("GestaoHospitalar", "DiretorServico")'>
        <input type="button" class="btn btn-default" value="Voltar à página inicial" />
    </a>
</div>