@*@model IEnumerable<EscalonamentoHospitalar.Models.Medico>*@
@model ListaMedicosViewModel
@{
    ViewData["Title"] = "Lista de médicos";
}

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


@if (TempData["notice"] != null)
{
    <!--Mensagem de sucesso quando insere um médico-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O registo foi inserido com sucesso.
    </div>
}

@if (TempData["deleteMedico"] != null)
{
    <!--Mensagem de sucesso quando elimina o médico-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> Médico eliminado com sucesso.
    </div>
}

@if (TempData["successEdit"] != null)
{
    <!--Mensagem de sucesso quando edita o médico-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O registo foi alterado com sucesso.
    </div>
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    //Passados 5 segundos a mensagem desaparece
    $(document).ready(function () {
        $("#suc_form").hide(10000);
    });
</script>


@*@if (User.IsInRole("DiretorServico")) // Acesso restrito ao Diretor de Serviço
    {*@

<h2>Lista de Médicos</h2>

<form asp-action="Index">

    <p style="float: right">
        Pesquisar por nome: <input style="width: 200px; " asp-for="CurrentNome" placeholder="Insira o nome a pesquisar" />
                            <button class="btn btn-info" type="submit" value="Pesquisar"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
    </p>
</form>


<table class="table">
    <thead>
        <tr>
        <tr>
            <th>
                <i class="fa fa-id-card"></i> Número Mecanográfico
            </th>
            <th>
                <i class="fas fa-user-md"></i> Nome
            </th>
            <th>
                <i class="fa fa-stethoscope"></i> Especialidade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Medicos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroMecanografico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EspecialidadeMedico.NomeEspecialidade)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MedicoId" class="btn btn-warning">
                        <span class="glyphicon glyphicon-edit"></span> Alterar
                    </a>
                    <a asp-action="Details" asp-route-id="@item.MedicoId" class="btn btn-info">
                        <span class="fas fa-info" style="color:white;"></span> Detalhes
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.MedicoId" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div page-model="@Model.Pagination"
     page-action="Index"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-default"
     page-class-selected="btn-primary"
     class="btn-group pull-right">
</div>

<br />
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">
        <span class="fas fa-file" style="color:white;"></span> Inserir Novo Médico
    </a>
</p>
<hr />
<div>
    <a href='@Url.Action("Index", "Home")' class="btn btn-default">
        <span class="glyphicon glyphicon-home"></span> Voltar à página inicial
    </a>
</div>
@*}*@