@model EscalonamentoHospitalar.Models.EscalaPaciente

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EscalaPaciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tratamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tratamento.DuracaoCiclo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paciente.Contacto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EscalaPacienteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
