@model EscalonamentoHospitalar.Models.EnfermeiroEspecialidade

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EnfermeiroEspecialidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnfermeiroEspecialidadeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnfermeiroEspecialidadeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EspecialidadeEnfermeiro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EspecialidadeEnfermeiro.EspecialidadeEnfermeiroId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enfermeiro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enfermeiro.CC)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EspecialidadeEnfermeiroId" />
        <input type="hidden" asp-for="EnfermeiroId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
