@model IEnumerable<EscalonamentoHospitalar.Models.EnfermeiroEspecialidade>

@{
    ViewData["Title"] = "Lista de Especialidades por Enfermeiro";
}

<<<<<<< HEAD
<h2>Especialidades dos Enfermeiros</h2>
=======
<h2>Lista de Especialidades por Enfermeiro</h2>
>>>>>>> CristianoPatricio

@*
<p>
    <a asp-action="Create">Create New</a>
</p>
*@

<table class="table">
    <thead>
        <tr>           
            <th>
                Especialidade
            </th>
            <th>
                Enfermeiro
            </th>
            <th>
                Data de Registo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EspecialidadeEnfermeiro.Especialidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enfermeiro.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Registo)
            </td>
            @*
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
            *@
        </tr>
}
    </tbody>
</table>
