@model HistoricoEspecialidadesEnfermeiroViewModel

@{
    ViewData["Title"] = "Lista de Especialidades por Enfermeiro";
}

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<h2>Lista de Especialidades por Enfermeiro</h2>

@*
    <p>
        <a asp-action="Create">Create New</a>
    </p>
*@

<form asp-action="Index">
    <p>
        Pesquisar por nome: <input style="width: 200px;" asp-for="CurrentNome" placeholder="Insira o nome a pesquisar" />
        <button class="btn btn-info" type="submit" value="Pesquisar"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <i class="fa fa-stethoscope"></i> Especialidade
            </th>
            <th>
                <i class='fas'>&#xf0f0;</i> Enfermeiro
            </th>
            <th>
                <i class='far'>&#xf073;</i> Data de Registo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EnfermeirosEspecialidades)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EspecialidadeEnfermeiro.Especialidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enfermeiro.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_Registo)
                </td>
                @*
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                *@
            </tr>
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@if (TempData["NoItemsFound"] != null)
{
    <script>
        //Show #myModal when there aren't records founded of search by name
        $(document).ready(function () {
            $("#myModal").modal();
        });
    </script>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:dodgerblue;"><strong>Ops!</strong></h4>
                </div>
                <div class="modal-body">
                    <p> Não foram encontrados resultados para a sua pesquisa :(</p>
                </div>
                <div class="modal-footer">
                    <a asp-action="Index"><input type="hidden" /><input type="button" class="btn btn-default" value="Ok" /></a>
                </div>
            </div>

        </div>
    </div>
}


<div page-model="@Model.Pagination"
     page-action="Index"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-default"
     page-class-selected="btn-primary"
     class="btn-group pull-right">
</div>

