@model IEnumerable<EscalonamentoHospitalar.Models.EspecialidadeEnfermeiro>

@{
    ViewData["Title"] = "Lista de Especialidades dos Enfermeiros";
}

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



@if (TempData["successInsertEspecialidade"] != null)
{
    <!--Mensagem de sucesso quandi insere especialidade-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O registo foi inserido com sucesso.
    </div>
}

@if (TempData["successEdit"] != null)
{
    <!--Mensagem de sucesso quando edita especialidade-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O registo foi alterado com sucesso.
    </div>
}

@if (TempData["successDelete"] != null)
{
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> Especialidade elimnada com sucesso.
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    //Passados 5 segundos a mensagem desaparece
    $(document).ready(function () {
        $("#suc_form").hide(10000);
    });
</script>

<h2>Lista de especialidades dos enfermeiros</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <i class="fa fa-stethoscope"></i> Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidade)
                </td>
                <td>
                    <!--<a asp-action="Edit" asp-route-id="@item.EspecialidadeEnfermeiroId"><input type="button" value="Editar" class="btn btn-warning" /></a>-->
                    <a asp-action="Edit" asp-route-id="@item.EspecialidadeEnfermeiroId" class="btn btn-warning"> 
                        <span class="glyphicon glyphicon-edit"></span> Alterar
                    </a>
                    <!--<a asp-action="Details" asp-route-id="@item.EspecialidadeEnfermeiroId">Details</a> |-->
                    <a asp-action="Delete" asp-route-id="@item.EspecialidadeEnfermeiroId" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">
        <span class="fas fa-file" style="color:white;"></span> Inserir Nova Especialidade de Enfermeiros
    </a>
</p>

<hr />
<div>
    <a href='@Url.Action("GestaoHospitalar", "DiretorServico")' class="btn btn-default">
        <span class="glyphicon glyphicon-home"></span> Voltar à página inicial
    </a>
</div>

