@model IEnumerable<EscalonamentoHospitalar.Models.EscalaEnfermeiro>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermeiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Inicio_Semana)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Turno.TurnoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enfermeiro.CC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Inicio_Semana)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EscalaEnfermeiroId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EscalaEnfermeiroId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.EscalaEnfermeiroId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
