@model IEnumerable<EscalonamentoHospitalar.Models.EscalaMedico>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Turno.TurnoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.CC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EscalaMedicoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EscalaMedicoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EscalaMedicoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
