@model EscalonamentoHospitalar.Models.HistoricoTratamento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HistoricoTratamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tratamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tratamento.TratamentoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paciente.CC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HistoricoTratamentoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
