@model EscalonamentoHospitalar.Models.Tratamento

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Delete</h2>

<h3>Tem a certeza que deseja eliminar?</h3>
<div>
    <h4>Tratamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Patologia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patologia.Nome)
        </dd>
        <dt>
            Paciente
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paciente.Nome)
        </dd>
        <dt>
            Grau
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grau.TipoGrau)
        </dd>
        <dt>
            Data de inicio do tratamento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt>
            Data de fim do tratamento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt>
            Duração do ciclo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DuracaoCiclo)
        </dd>
        <dt>
            Regime
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Regime.TipoRegime)
        </dd>
        <dt>
            Estado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado.Nome) 
        </dd>

        <dt>
            Médico
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medico.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TratamentoId" />
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar a Lista </a>
    </form>
</div>
