@model EscalonamentoHospitalar.Models.Tratamento

@{
    ViewData["Title"] = "Eliminar";
}

<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style type="text/css">
        body {
            font-family: 'Varela Round', sans-serif;
        }

        .modal-confirm {
            color: #636363;
            width: 400px;
        }

            .modal-confirm .modal-content {
                padding: 20px;
                border-radius: 5px;
                border: none;
                text-align: center;
                font-size: 14px;
            }

            .modal-confirm .modal-header {
                border-bottom: none;
                position: relative;
            }

            .modal-confirm h4 {
                text-align: center;
                font-size: 26px;
                margin: 30px 0 -10px;
            }

            .modal-confirm .close {
                position: absolute;
                top: -5px;
                right: -2px;
            }

            .modal-confirm .modal-body {
                color: #999;
            }

            .modal-confirm .modal-footer {
                border: none;
                text-align: center;
                border-radius: 5px;
                font-size: 13px;
                padding: 10px 15px 25px;
            }

                .modal-confirm .modal-footer a {
                    color: #999;
                }

            .modal-confirm .icon-box {
                width: 80px;
                height: 80px;
                margin: 0 auto;
                border-radius: 50%;
                z-index: 9;
                text-align: center;
                border: 3px solid #f15e5e;
            }

                .modal-confirm .icon-box i {
                    color: #f15e5e;
                    font-size: 46px;
                    display: inline-block;
                    margin-top: 13px;
                }

            .modal-confirm .btn {
                color: #fff;
                border-radius: 4px;
                background: #60c7c1;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                min-width: 120px;
                border: none;
                min-height: 40px;
                border-radius: 3px;
                margin: 0 5px;
                outline: none !important;
            }

            .modal-confirm .btn-info {
                background: #c1c1c1;
            }

                .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
                    background: #a8a8a8;
                }

            .modal-confirm .btn-danger {
                background: #f15e5e;
            }

                .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
                    background: #ee3535;
                }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>
</head>



<h3>Tem a certeza que pretende eliminar o tratamento?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Paciente
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paciente.Nome)
        </dd>

        <dt>
            Patologia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patologia.Nome)
        </dd>
        <dt>
            Grau
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grau.TipoGrau)
        </dd>
        <dt>
            Duração do ciclo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DuracaoCiclo.Hours)
        </dd>
        <dt>
            Data de inicio do tratamento
        </dt>
        <dt>
            Regime
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Regime.TipoRegime)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt>
            Data de fim do tratamento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>


        <dt>
            Estado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado.Nome)
        </dd>

        <dt>
            Médico
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medico.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TratamentoId" />
        <a href="#myModal" class="trigger-btn" data-toggle="modal">
            <input type="submit" value="ELIMINAR" class="btn btn-danger" />
        </a>  |
        <a asp-action="Index" class="btn btn-default">Voltar à lista de tratamentos</a>
    </form>

    <!-- Modal HTML CONFIRMAÇÃO DO ELIMINAR -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title">Tem a certeza que quer eliminar o tratamento</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Esta operação é irreversível.</p>
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="TratamentoId" />
                        <input type="submit" class="btn btn-danger" value="ELIMINAR" />
                        <button type="button" class="btn btn-info" data-dismiss="modal">CANCELAR</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
