@model EscalonamentoHospitalar.Models.Tratamento

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes do tratamento</h2>

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <h4>Tratamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Paciente
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paciente.Nome)
        </dd>
        <dt>
            Patologia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patologia.Nome)
        </dd>

        <dt>
            Grau
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grau.TipoGrau)
        </dd>
        <dt>
            Duração do ciclo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DuracaoCiclo)
        </dd>
        <dt>
            Regime
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Regime.TipoRegime)
        </dd>
        <dt>
            Data inicio do tratamento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt>
            Data fim do tratamento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado.Nome)
        </dd>

        <dt>
            Médico
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medico.MedicoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.TratamentoId">
        <span class="glyphicon glyphicon-edit"></span>EDITAR
    </a>
    <a asp-action="Index" class="btn btn-default">
        <span class="fas fa-undo" style="color:dodgerblue;"></span>Voltar à lista de tratamentos
    </a>
</div>
