@model EscalonamentoHospitalar.Models.Tratamento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tratamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patologia.PatologiaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paciente.CC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grau)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grau.GrauId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DuracaoCiclo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DuracaoCiclo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Regime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Regime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Decorrer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Decorrer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Concluido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Concluido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medico.MedicoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TratamentoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
