@model EscalonamentoHospitalar.Models.Tratamento

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes do tratamento</h2>

<div>
    <h4>Tratamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Paciente
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paciente.Nome)
        </dd>
        <dt>
            Patologia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patologia.Nome)
        </dd>

        <dt>
            Grau
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grau.TipoGrau)
        </dd>
        <dt>
            Duração do ciclo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DuracaoCiclo)
        </dd>
        <dt>
            Regime
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Regime.TipoRegime)
        </dd>
        <dt>
            Data inicio do tratamento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt>
            Data fim do tratamento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado.Nome)
        </dd>

        <dt>
            Médico
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medico.MedicoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.TratamentoId">EDITAR</a> 
    <a asp-action="Index" class="btn btn-default">Voltar à lista de tratamentos</a>
</div>
