@model IEnumerable<EscalonamentoHospitalar.Models.Tratamento>

@{
    ViewData["Title"] = "Tratamentos";
}

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<p></p>

@if (TempData["notice"] != null)
{
    <!--Mensagem de sucesso quando insere tratamento-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O registo do tratamento foi inserido com sucesso.
    </div>
}

@if (TempData["deleteEnf"] != null)
{
    <!--Mensagem de sucesso quando elimina tratamento-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> tratamento eliminado com sucesso.
    </div>
}

@if (TempData["successEdit"] != null)
{
    <!--Mensagem de sucesso quando edita tratamento-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O registo de tratamento foi alterado com sucesso.
    </div>
}

@if (TempData["GeneratedSuccess"] != null)
{
    <!--Mensagem de sucesso quando insere horário para paciente-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> Horário gerado com sucesso.
    </div>
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    //Passados 5 segundos a mensagem desaparece
    $(document).ready(function () {
        $("#suc_form").hide(10000);
    });
</script>

<h2>Lista de tratamentos</h2>

<p>
<p>
    <a asp-action="Create" class="btn btn-primary">
        <span class="fas fa-file" style="color:white;"></span> Inserir um novo tratamento
    </a>
</p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <i class="fa fa-heartbeat"></i> Patologia
            </th>
            <th>
                <i class="glyphicon glyphicon-user"></i> Paciente
            </th>
            <th>
                <i class="far fa-clock"></i> Data de início do tratamento
            </th>
            <th>
                <i class="far fa-clock"></i> Data de fim do tratamento
            </th>

            <th>
                <i class="fas fa-user-md"></i> Médico
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patologia.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Medico.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TratamentoId" class="btn btn-warning">
                        <span class="glyphicon glyphicon-edit"></span> Alterar
                    </a>
                    <a asp-action="Details" asp-route-id="@item.TratamentoId" class="btn btn-info">
                        <span class="fas fa-info" style="color:white;"></span> Detalhes
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.TratamentoId" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                    </a>                  
                </td>
            </tr>
        }
    </tbody>
</table>
