@model IEnumerable<EscalonamentoHospitalar.Models.Tratamento>

@{
    ViewData["Title"] = "Tratamentos";
}

<h2>Tratamentos</h2>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Patologia
            </th>
            <th>
                Paciente
            </th>
            <th>
               A Decorrer
            </th>
            <th>
                Concluído
            </th>
            <th>
                Médico
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patologia.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Nome)
            </td>
                                   
             <td>
                @Html.DisplayFor(modelItem => item.Decorrer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concluido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TratamentoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TratamentoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TratamentoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
