@model IEnumerable<EscalonamentoHospitalar.Models.Tratamento>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patologia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracaoCiclo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decorrer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concluido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patologia.PatologiaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.CC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grau.GrauId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracaoCiclo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Decorrer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concluido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.MedicoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TratamentoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TratamentoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TratamentoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
