@model IEnumerable<EscalonamentoHospitalar.Models.UserAccount>

@{
    ViewData["Title"] = "Home Page";
}

@*
<div style="margin-top: 50px;">
    <h2>Serviço de Quimioterapia - Gestão Hospitalar</h2>
    <h3>@ViewBag.Message</h3>
</div>

<center>
    <div class="col-md-6 col-md-offset-2" style="margin-left:0px;">
        <section>
            <img class="image" src="~/images/James& Katie.png" alt="" width="400" height="400" />
        </section>
    </div>
</center>
<div>
    <div style="float:left; margin-top: 100px; margin-right:50px; margin-left:30px;">
        <a asp-area="" asp-controller="Home" asp-action="Login">
            <input type="button" class="btn btn-primary btn-lg btn-block" value="MÉDICO"/>
        </a>
    </div>
    <div style = "float:left; margin-top: 100px; margin-right:50px; margin-left:30px;">
        <a asp-area="" asp-controller="Home" asp-action="Login">
            <input type="button" class="btn btn-info btn-lg btn-block" value="ENFERMEIRO" />
        </a>
    </div>
    <div style="float:left; margin-top: 100px; margin-right:50px; margin-left:30px;">
        <a asp-area="" asp-controller="Home" asp-action="Login">
            <input type="button" class="btn btn-secundary btn-lg btn-block" value=" DIRETOR DE SERVIÇO" />
        </a>
    </div>
</div>

*@
<p></p>
<center>
    <div style="margin-top: 50px;">
        <h2 style="font-family:Gill Sans Nova; ">Serviço de Quimioterapia - Gestão Hospitalar</h2>
        <h3 style="font-family:Gill Sans Nova; ">@ViewBag.Message</h3>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <hr />
        <div style="background-color:lightgrey" class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/James& Katie.png" alt="ASP.NET" class="img-responsive" width="400" height="400" />
            </div>
        </div>
        <hr />
    </div>
</center>
<p></p>
<div class="row">
    <div style = "float:left" class="col-md-3">
        <h4>MÉDICO</h4>
        <ul>
            <li><a href='@Url.Action("Index", "HorarioMedicos")'>Consultar Horário</a></li>
            <li><a href='@Url.Action("Index", "HorarioMedicos")'>Pedir alteração de turno</a></li>
            <li><a href='@Url.Action("Index", "Tratamentos")'>Introduzir tratamentos</a></li>
            <li><a href='@Url.Action("Index", "HorarioPacientes")'>Consultar horário dos pacientes</a></li>
            <li><a href='@Url.Action("Index", "PedidoTrocaTurnosMedicos")'>Validar pedidos de troca pendentes</a></li>
        </ul>
    </div>
    <div style = "float:left" class="col-md-3">
        <h4>ENFERMEIRO</h4>  
        <ul>
            <li><a href='@Url.Action("Index", "HorarioEnfermeiros")'>Consultar Horário</a></li>
            <li><a href='@Url.Action("Index", "HorarioEnfermeiros")'>Pedir alteração de turno</a></li>
            <li><a href='@Url.Action("Index", "HorarioPacientes")'>Consultar horário dos pacientes</a></li>
            <li><a href='@Url.Action("Index", "PedidoTrocaTurnosEnfermeiros")'>Validar pedidos de troca pendentes</a></li>
        </ul>
    </div>
    <div style = "float:left" class="col-md-3">
        <h4>DIRETOR DE SERVIÇO</h4>
        <ul>
            <li><a href='@Url.Action("Index", "DiretorServico")'>Área pessoal</a></li>
            <p></p>
            <li><a href='@Url.Action("Index", "Enfermeiros")'>Gerir Enfermeiros</a></li>
            <li><a href='@Url.Action("GerarHorarioEnfermeiro", "HorarioEnfermeiros")'>Gerar horário Enfermeiro</a></li>
            <li><a href='@Url.Action("Index", "EspecialidadeEnfermeiros")'>Gerir Especialidades dos Enfermeiros</a></li>
            <li><a href='@Url.Action("Index", "EnfermeiroEspecialidades")'>Ver histórico Especialidades dos Enfermeiros</a></li>
            <li><a href='@Url.Action("Index", "PedidoTrocaTurnosEnfermeiros")'>Autorizar pedidos de troca validados dos enfermeiros</a></li>
            <p></p>
            <li><a href='@Url.Action("Index", "Medicos")'>Gerir Médicos</a></li>
            <li><a href='@Url.Action("GerarHorarioMedico", "HorarioMedicos")'>Gerar horário Médico</a></li>
            <li><a href='@Url.Action("Index", "EspecialidadeMedicos")'>Gerir Especialidades dos Médicos</a></li>
            <li><a href='@Url.Action("Index", "MedicoEspecialidades")'>Ver histórico Especialidades dos Médicos</a></li>
            <li><a href='@Url.Action("Index", "PedidoTrocaTurnosMedicos")'>Autorizar pedidos de troca validados dos médicos</a></li>
            <p></p>
            <li><a href='@Url.Action("Index", "Pacientes")'>Gerir Pacientes</a></li>
            <li><a href='@Url.Action("Index", "HorarioPacientes")'>Consultar horário dos pacientes</a></li>
            <li><a href='@Url.Action("Index", "Regras")'>Introduzir regras de escalonamento de horários</a></li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>Utilizadores Registados</h2>
        @if (Model.Any())
        {
            <table class="table">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Número Mecanográfico</th>
                </tr>
                @foreach(var item in Model)
                {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Email</td>
                    <td>@item.NumeroMecanografico</td>
                </tr>
                }
            </table>
        }
        else
        {
            <p> Não há mais utilizadores registados no sistema Gestão Hospitalar. Contacte a Administração.</p>
        }
    </div>
</div>

