@model EscalonamentoHospitalar.Models.PedidoTrocaTurnosMedico

@{
    ViewData["Title"] = "Detalhes Pedido Troca Turno Médico";
}

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<h2>Detalhes</h2>

<div>
    <h4>Pedido de troca de turno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data do pedido:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataPedido)
        </dd>
        <dt>
            Médico requerente:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medico.Nome)
        </dd>
        <dt>
            Data do Horário a trocar:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioATrocarMedico.HorarioMedico.DataInicioTurno)
        </dd>
        <dt>
            Data do Horário para troca:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioParaTrocaMedico.HorarioMedico.DataInicioTurno)
        </dd>
        <dt>
            Médico para trocar:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioParaTrocaMedico.HorarioMedico.Medico.Nome)
        </dd>
        <dt>
            Estado:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoPedidoTroca.Nome)
        </dd>
    </dl>
</div>
<div>
    @if (Model.EstadoPedidoTroca.Nome == "Pendente")
    {
        if (!(Model.HorarioATrocarMedico.HorarioMedico.DataInicioTurno < DateTime.Now))
        {
            <a asp-action="Edit" asp-route-id="@Model.PedidoTrocaTurnosMedicoId" class="btn btn-success">
                <span class="fas fa-check" style="color:white;"></span> Validar
            </a>
        }
    }
    else if (Model.EstadoPedidoTroca.Nome == "Validado")
    {
        if (!(Model.HorarioATrocarMedico.HorarioMedico.DataInicioTurno < DateTime.Now))
        {
            <a asp-action="Edit" asp-route-id="@Model.PedidoTrocaTurnosMedicoId" class="btn btn-success">
                <span class="fas fa-check" style="color:white;"></span> Aprovar
            </a>
        }
    }
    else
    {

    }
    <a asp-action="Index" class="btn btn-default">
        <span class="fas fa-undo" style="color:dodgerblue;"></span> Voltar à lista
    </a>

</div>

