@model EscalonamentoHospitalar.Models.PedidoTrocaTurnosEnfermeiro

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PedidoTrocaTurnosEnfermeiro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataPedido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enfermeiro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enfermeiro.CC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioATrocarEnfermeiro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioATrocarEnfermeiro.HorarioATrocarEnfermeiroId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioParaTrocaEnfermeiro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioParaTrocaEnfermeiro.HorarioParaTrocaEnfermeiroId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoPedidoTroca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoPedidoTroca.EstadoPedidoTrocaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PedidoTrocaTurnosEnfermeiroId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
