@model EscalonamentoHospitalar.Models.PedidoTrocaTurnosEnfermeiro

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PedidoTrocaTurnosEnfermeiro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataPedido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enfermeiro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enfermeiro.CC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioATrocarEnfermeiro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioATrocarEnfermeiro.HorarioEnfermeiro.Enfermeiro.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioParaTrocaEnfermeiro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioParaTrocaEnfermeiro.HorarioEnfermeiro.Enfermeiro.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoPedidoTroca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoPedidoTroca.EstadoPedidoTrocaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PedidoTrocaTurnosEnfermeiroId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
