@model EscalonamentoHospitalar.Models.PedidoTrocaTurnosEnfermeiro

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Pedido de troca de turno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data do Pedido:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataPedido)
        </dd>
        <dt>
            Enfermeiro Requerente:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enfermeiro.Nome)
        </dd>
        <dt>
            Data do Horário a trocar:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioATrocarEnfermeiro.HorarioEnfermeiro.DataInicioTurno)
        </dd>
        <dt>
            Data do Horário para troca:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioParaTrocaEnfermeiro.HorarioEnfermeiro.DataInicioTurno)
        </dd>
        <dt>
            Estado:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoPedidoTroca.Nome)
        </dd>
    </dl>
</div>
<div>
    @if (Model.EstadoPedidoTroca.Nome == "Pendente")
    {
        <a asp-action="Edit" asp-route-id="@Model.PedidoTrocaTurnosEnfermeiroId"><input type="button" value="Validar" class="btn btn-success" /></a>
    }
    else if (Model.EstadoPedidoTroca.Nome == "Validado")
    {
        <a asp-action="Edit" asp-route-id="@Model.PedidoTrocaTurnosEnfermeiroId"><input type="button" value="Aprovar" class="btn btn-success" /></a>
    }
    else
    {

    }
    <a asp-action="Index"><input type="button" value="Voltar à lista" class="btn btn-default" /></a>
</div>
