@model IEnumerable<EscalonamentoHospitalar.Models.PedidoTrocaTurnosEnfermeiro>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Data do Pedido
            </th>
            <th>
                Enfermeiro Requerente
            </th>
            <th>
                Data do Horário a trocar
            </th>
            <th>
                Data do Horário para troca
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enfermeiro.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioATrocarEnfermeiro.HorarioEnfermeiro.DataInicioTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioParaTrocaEnfermeiro.HorarioEnfermeiro.DataInicioTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoPedidoTroca.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PedidoTrocaTurnosEnfermeiroId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PedidoTrocaTurnosEnfermeiroId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PedidoTrocaTurnosEnfermeiroId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
