@model EscalonamentoHospitalar.Models.HorarioEnfermeiro

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HorarioEnfermeiro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataInicioTurno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicioTurno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duracao)
        </dd>     
        <dt>
            @Html.DisplayNameFor(model => model.Turno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Turno.TurnoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enfermeiro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enfermeiro.CC)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HorarioEnfermeiroId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
