@*@model IEnumerable<EscalonamentoHospitalar.Models.HorarioEnfermeiro>*@
@model HorariosEnfermeirosViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Horário dos Enfermeiros</h2>

@*
    <p>
        <a asp-action="Create">Create New</a>
    </p>
*@

@if (TempData["SuccessRequired"] != null)
{
    <!--Mensagem de sucesso quando insere pedido de troca de turno-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O pedido foi registado com sucesso.
    </div>
}

@if (TempData["Success"] != null)
{
    <!--Mensagem de sucesso quando gera horário-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O horário foi gerado com sucesso.
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    //Passados 5 segundos a mensagem desaparece
    $(document).ready(function () {
        $("#suc_form").hide(10000);
    });
</script>

<form asp-action="Index">
    <p>
        Pesquisar por nome: <input style="width: 200px;" asp-for="CurrentNome" placeholder="Insira o nome a pesquisar" />
        Pesquisar por data: <input style="width: 200px;" asp-for="DataInicio" />
        <input type="submit" value="Pesquisar" class="btn btn-info" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Data de início do Turno
            </th>
            <th>
                Data de fim do Turno
            </th>
            <th>
                Turno
            </th>
            <th>
                Enfermeiro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HorariosEnfermeiros)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicioTurno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFimTurno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Turno.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enfermeiro.Nome)
                </td>
                <td>
                    <a asp-action="PedidoTrocaTurnoEnfermeiro" asp-route-idHorario1="@item.HorarioEnfermeiroId"><input type="button" value="Trocar" class="btn btn-info" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div page-model="@Model.Pagination"
     page-action="Index"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-default"
     page-class-selected="btn-primary"
     class="btn-group pull-right">
</div>
