@model IEnumerable<EscalonamentoHospitalar.Models.MedicoEspecialidade>

@{
    ViewData["Title"] = "Index";
}

<h2>Especialidades</h2>

<p>
    <a asp-action="Create">Inserir especialidade</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Especialidade
            </th>
            <th>
                Médico
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicoEspecialidadeId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.MedicoEspecialidadeId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicoEspecialidadeId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
