@model EscalonamentoHospitalar.Models.DiretorServico

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar Diretor de Serviço <b>@Html.DisplayFor(model => model.Name)</b></h2>

<h3>Tem a certeza de que pretende eliminá-lo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Código
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroMecanografico)
        </dd>
        <dt>
            Contacto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Nº CC/BI
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CC)
        </dd>
        <dt>
            Morada
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DiretorServicoID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar à lista</a>
    </form>
</div>
