@model EscalonamentoHospitalar.Models.DiretorServico

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes Diretor de Serviço <b>@Html.DisplayFor(model => model.Name)</b></h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Código
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroMecanografico)
        </dd>
        <dt>
            Contacto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Nº CC/BI
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CC)
        </dd>
        <dt>
            Morada
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DiretorServicoID">Alterar</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>
