@model EscalonamentoHospitalar.Models.DiretorServico

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes Diretor de Serviço <b>@Html.DisplayFor(model => model.Nome)</b></h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Contacto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Nº Cartão Cidadão
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CC)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DiretorServicoID"><input type="button" value="Alterar" class="btn btn-warning" /></a> 
    <a asp-action="Index"><input type="button" value="Voltar à lista" class="btn btn-default" /></a>
</div>
