@{
    ViewData["Title"] = "Gestão Hospitalar";
}

@if (User.IsInRole("DiretorServico")) // Acesso restrito ao Diretor de Serviço
{

<div>
    <div>
        <img style="float:left;" class="image" src="~/images/James& Katie.png" alt="" width="400" height="400" />
    </div>
</div>

<div style="margin-top:100px;">
    <h2>Diretor de Serviço - Gestão Hospitalar</h2>
</div>

<div>
    <div style="float:left; margin-top: 70px; margin-right:10px; margin-left:10px;">
        <a href='@Url.Action("Index", "Medicos")'>
            <input type="button" class="btn btn-primary btn-lg btn-block" value="LISTA DE MÉDICOS" />
        </a>
    </div>
    <div style="float:left; margin-top: 70px; margin-right:10px; margin-left:10px;">
        <a href='@Url.Action("Index", "Enfermeiros")'>
            <input type="button" class="btn btn-info btn-lg btn-block" value="Lista de enfermeiros" />
        </a>
    </div>
    <div style="float:left; margin-top: 70px; margin-right:10px; margin-left:10px;">
        <a href='@Url.Action("Index", "Pacientes")'>
            <input type="button" class="btn btn-secundary btn-lg btn-block" value="Lista de pacientes" />
        </a>
    </div>
</div>
<div>
    <div style="float:left; margin-top: 70px; margin-right:10px; margin-left:10px;">
        <a href='@Url.Action("Index", "EspecialidadeMedicos")'>
            <input type="button" class="btn btn-primary btn-lg btn-block" value="Especialidades dos médicos" />
        </a>
    </div>
    <div style="float:left; margin-top: 70px; margin-right:10px; margin-left:10px;">
        <a href='@Url.Action("Index", "EspecialidadeEnfermeiros")'>
            <input type="button" class="btn btn-info btn-lg btn-block" value="Especialidades dos enfermeiros" />
        </a>
    </div>
</div>
<div style="float:left; margin-top:50px; margin-left: 100px;">
    <div style="float:left; margin-right:10px; margin-left:10px;">
        <a href='@Url.Action("Index", "MedicoEspecialidades")'>
            <input type="button" class="btn btn-primary btn-lg btn-block" value="Histórico de especialidades dos médicos" />
        </a>
    </div>
    <div style="float:left; margin-right:10px; margin-left:10px;">
        <a href='@Url.Action("Index", "EnfermeiroEspecialidades")'>
            <input type="button" class="btn btn-info btn-lg btn-block" value="Histórico de especialidades dos enfermeiros" />
        </a>
    </div>
</div>
<div style="float:left; margin-top:50px; margin-left: 100px;">
    <div style="float:left; margin-right:10px; margin-left:10px;">
        <a href='@Url.Action("GerarEscalaMedico", "EscalaMedicos")'>
            <input type="button" class="btn btn-primary btn-lg btn-block" value="Gerar escala dos médicos" />
        </a>
    </div>
    <div style="float:left; margin-right:10px; margin-left:10px;">
        <a href='@Url.Action("Index", "EscalaEnfermeiros")'>
            <input type="button" class="btn btn-info btn-lg btn-block" value="Gerar escala dos enfermeiros" />
        </a>
    </div>
    <div style="float:left;  margin-right:10px; margin-left:10px;">
        <a href='@Url.Action("Index", "EscalaPacientes")'>
            <input type="button" class="btn btn-secundary btn-lg btn-block" value="Gerar escala dos pacientes" />
        </a>
    </div>
</div>
}

<div style="float:left; margin-top:50px; margin-left: 100px;">
    <h3>Gerar Horários</h3>
    <!--Gerar Horários-->
    <div style="float:left;  margin-right:10px; margin-left:10px;">
        <a href='@Url.Action("GerarHorarioEnfermeiro", "HorarioEnfermeiros")'>
            <input type="button" class="btn btn-info btn-lg btn-block" value="GERAR HORÁRIO ENFERMEIRO" />
        </a>
    </div>
    <div style="float:left;  margin-right:10px; margin-left:10px;">
        <a href='@Url.Action("GerarHorarioMedico", "HorarioMedicos")'>
            <input type="button" class="btn btn-info btn-lg btn-block" value="GERAR HORÁRIO MÉDICO" />
        </a>
    </div>
</div>

