@model IEnumerable<EscalonamentoHospitalar.Models.DiretorServico>

@{
    ViewData["Title"] = "Listagem Diretores de Serviço";
}

<h2>Listagem Diretores de Serviço</h2>

<p>
    <a asp-action="Create">Inserir Diretor de Serviço</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMecanografico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>          
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiretorServicoID">Alterar</a> |
                <a asp-action="Details" asp-route-id="@item.DiretorServicoID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.DiretorServicoID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
