@model IEnumerable<EscalonamentoHospitalar.Models.DiretorServico>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroMecanografico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMecanografico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiretorServicoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiretorServicoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiretorServicoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
