@model IEnumerable<EscalonamentoHospitalar.Models.DiretorServico>

@{
    ViewData["Title"] = "Listagem Diretores de Serviço";
}

@if (TempData["insertSuccess"] != null)
{
    <!--Mensagem de sucesso quandi insere diretor de serviço-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O registo foi inserido com sucesso.
    </div>
}

@if (TempData["deleteSuccess"] != null)
{
    <!--Mensagem de sucesso quando elimina diretor de serviço-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> Diretor Serviço eliminado com sucesso.
    </div>
}

@if (TempData["successEdit"] != null)
{
    <!--Mensagem de sucesso quando elimina diretor de serviço-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O registo foi alterado com sucesso.
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
    //Passados 5 segundos a mensagem desaparece
    $(document).ready(function () {
        $("#suc_form").hide(10000);
    });
</script>

<h2>Listagem Diretores de Serviço</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <i class="fa fa-id-card"></i> Código
            </th>
            <th>
                <span class="glyphicon glyphicon-user"></span> Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DiretorServicoID" class="btn btn-warning">
                        <span class="glyphicon glyphicon-edit"></span> Alterar
                    </a>
                    <a asp-action="Details" asp-route-id="@item.DiretorServicoID" class="btn btn-info">
                        <span class="fas fa-info" style="color:white;"></span> Detalhes
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.DiretorServicoID" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">
        <span class="fas fa-file" style="color:white;"></span> Inserir Novo Diretor Serviço
    </a>
</p>