@model EscalonamentoHospitalar.Models.Enfermeiro

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Tem a certeza de que pretende eliminar o/a Enfermeiro/a <b>@Html.DisplayFor(model => model.Nome)</b>?</h3>
<div>
    <h4>Enfermeiro/a @Html.DisplayFor(model => model.Nome)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroMecanografico)
        </dd>
        <dt>
           Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Contacto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Data de Nascimento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Nascimento)
        </dd>
        <dt>
            Nº CC/BI
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CC)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EnfermeiroId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
