@model EscalonamentoHospitalar.Models.Enfermeiro

@{
    ViewData["Title"] = "Detalhes";
}

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Detalhes do/a Enfermeiro/a <b>@Html.DisplayFor(model => model.Nome)</b></h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Número Mecanográfico
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroMecanografico)
        </dd>
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Especialidade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EspecialidadeEnfermeiro.Especialidade)
        </dd>
        <dt>
            Contacto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Data de Nascimento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Nascimento)
        </dd>
        <dt>
            Nº Cartão Cidadão
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CC)
        </dd>
        <dt>
            Filhos
        </dt>

        @*Se tiver FILHOS escrever 'SIM' Senão escrever 'NÃO'*@
        @if (Model.Filhos == true)
        {
            <dd>SIM</dd>
        }
        else
        {
            <dd>NÃO</dd>
        }

        @if (Model.Filhos == true)
        {
            <dt>
                Data de Nascimento do filho mais novo
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Data_Nascimento_Filho)
            </dd>
        }
    </dl>
</div>
<div>
<<<<<<< HEAD
    <a asp-action="Edit" asp-route-id="@Model.EnfermeiroId"><input type="button" value="Editar" class="btn btn-warning" /></a>
    <a asp-action="Index"><input type="button" value="Voltar à lista de enfermeiros" class="btn btn-default" /></a>
=======
    <a asp-action="Edit" asp-route-id="@Model.EnfermeiroId" class="btn btn-warning">
        <span class="glyphicon glyphicon-edit"></span> Alterar
    </a>

    <a asp-action="Index" class="btn btn-default">
        <span class="fas fa-undo" style="color:dodgerblue;"></span> Voltar à lista
    </a>
>>>>>>> CristianoPatricio_GerarHorarios
</div>