@model EscalonamentoHospitalar.Models.Enfermeiro

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes do/a Enfermeiro/a <b>@Html.DisplayFor(model => model.Nome)</b></h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Número Mecanográfico
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroMecanografico)
        </dd>
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Especialidade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EspecialidadeEnfermeiro.Especialidade)
        </dd>
        <dt>
            Contacto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Data de Nascimento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Nascimento)
        </dd>
        <dt>
            Nº CC/BI
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CC)
        </dd>
        <dt>
            Filhos
        </dt>
            
        @*Se tiver FILHOS escrever 'SIM' Senão escrever 'NÃO'*@
            @if (Model.Filhos == true)
            {
                <dd>SIM</dd>
            }
            else
            {
                <dd>NÃO</dd>
            }

        @if (Model.Filhos == true)
        {
            <dt>
                Data de Nascimento do filho mais novo
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Data_Nascimento_Filho)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EnfermeiroId"><input type="button" value="Alterar" class="btn btn-warning" /></a> 
    <a asp-action="Index"><input type="button" value="Voltar à lista" class="btn btn-default"/></a>
</div>
