@*@model IEnumerable<EscalonamentoHospitalar.Models.Enfermeiro>*@
@model ListaEnfermeirosViewModel

@{
    ViewData["Title"] = "Lista de Enfermeiros";
}
<p></p>

@if (TempData["notice"] != null)
{
    <!--Mensagem de sucesso quandi insere enfermeiro-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O registo foi inserido com sucesso.
    </div>
}

@if (TempData["deleteEnf"] != null)
{
    <!--Mensagem de sucesso quando elimina enfermeiro-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> Enfermeiro eliminado com sucesso.
    </div>
}


@if (TempData["successEdit"] != null)
{
    <!--Mensagem de sucesso quando edita enfermeiro-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O registo foi alterado com sucesso.
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
    //Passados 5 segundos a mensagem desaparece
    $(document).ready(function () {
        $("#suc_form").hide(10000);
    });

    //Select the appropriate input text to search by name or speciality
    function searchBy() {
        var selectOption = document.getElementById("inputGroupSelect01");
        var selectedValue = selectOption.options[selectOption.selectedIndex].value;
        if (selectedValue == "Especialidade") {
            //get name and speciality inputs
            var form = document.getElementById("inputEspecialidade");
            var form2 = document.getElementById("inputName");
            //show speciality input
            if (form.style.display == 'none') {
                form.style.display = 'inline';
            }
            //hide name input
            if (form2.style.display == 'inline') {
                form2.style.display = 'none';
                form2.value = '';
            }
        }
        else //Selected value = NOME
        {
            //get name and speciality inputs
            var form = document.getElementById("inputEspecialidade");
            var form2 = document.getElementById("inputName");
            //hide speciality input
            if (form.style.display == 'inline') {
                form.style.display = 'none';
                form.value = '';
            }
            //show name input
            if (form2.style.display == 'none') {
                form2.style.display = 'inline';
            }
        }
    }

    //Delete the speciality input field when the user clicks on name input
    function deleteSpecialityField() {
        var form = document.getElementById("inputEspecialidade");
        form.value = '';
    }
</script>

<h2>Lista de Enfermeiros</h2>

<form asp-action="Index">
    Pesquisar por:
    <select class="input-group-prepend" id="inputGroupSelect01" onchange="searchBy()">
        <option selected value="Nome">Nome</option>
        <option value="Especialidade">Especialidade</option>
    </select>
    <input id="inputName" style="width: 200px; display: inline;" asp-for="CurrentNome" placeholder="Insira o nome a pesquisar" onclick="deleteSpecialityField()">
    <input id="inputEspecialidade" style="width: 250px; display: none;" asp-for="CurrentEspecialidade" placeholder="Insira a especialidade a pesquisar">
    <button class="btn btn-info" type="submit" value="Pesquisar"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
</form>

<p></p>

<!--<div style="background-color:#17A5D4; padding: 30px; border-radius: 25px;">-->

<table class="table">
    <thead>
        <tr>
            <th>
                <i class="fa fa-id-card"></i> Número Mecanográfico
            </th>
            <th>
                <i class="glyphicon glyphicon-user"></i> Nome
            </th>
            <th>
                <i class="fa fa-stethoscope"></i> Especialidade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enfermeiros)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroMecanografico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EspecialidadeEnfermeiro.Especialidade)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EnfermeiroId" class="btn btn-warning">
                        <span class="glyphicon glyphicon-edit"></span> Alterar
                    </a>
                    <a asp-action="Details" asp-route-id="@item.EnfermeiroId" class="btn btn-info">
                        <span class="fas fa-info" style="color:white;"></span> Detalhes
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.EnfermeiroId" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (TempData["NoItemsFound"] != null)
{
    <script>
        //Show #myModal when there aren't records founded of search by name or speciality
        $(document).ready(function () {
            $("#myModal").modal();
        });
    </script>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:dodgerblue;"><strong>Ops!</strong></h4>
                </div>
                <div class="modal-body">
                    <p> Não foram encontrados resultados para a sua pesquisa :(</p>
                </div>
                <div class="modal-footer">
                    <a asp-action="Index"><input type="hidden" /><input type="button" class="btn btn-default" value="Ok" /></a>
                </div>
            </div>

        </div>
    </div>
}

<div page-model="@Model.Pagination"
     page-action="Index"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-default"
     page-class-selected="btn-primary"
     class="btn-group pull-right">
</div>

<br />
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">
        <span class="fas fa-file" style="color:white;"></span> Inserir Novo Enfermeiro
    </a>
</p>
<hr />
<div>
    <a href='@Url.Action("GestaoHospitalar", "DiretorServico")' class="btn btn-default">
        <span class="glyphicon glyphicon-home"></span> Voltar à página inicial
    </a>
</div>