@*@model IEnumerable<EscalonamentoHospitalar.Models.Enfermeiro>*@
@model ListaEnfermeirosViewModel

@{
    ViewData["Title"] = "Lista de Enfermeiros";
}
<p></p>

@if (TempData["notice"] != null)
{
    <!--Mensagem de sucesso quandi insere enfermeiro-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O registo foi inserido com sucesso.
    </div>
}

@if (TempData["deleteEnf"] != null)
{
    <!--Mensagem de sucesso quando elimina enfermeiro-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> Enfermeiro eliminado com sucesso.
    </div>
}

@if (TempData["successEdit"] != null)
{
    <!--Mensagem de sucesso quando edita enfermeiro-->
    <div id="suc_form" class="alert alert-success">
        <strong>Sucesso!</strong> O registo foi alterado com sucesso.
    </div>
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    //Passados 5 segundos a mensagem desaparece
    $(document).ready(function () {
        $("#suc_form").hide(10000);
    });
</script>

<h2>Lista de Enfermeiros</h2>

<form asp-action="Index">
    <p>
        Pesquisar por nome: <input style="width: 200px;" asp-for="CurrentNome" placeholder="Insira o nome a pesquisar" />
        <input type="submit" value="Pesquisar" class="btn btn-info" />
    </p>
</form>

<!--<div style="background-color:#17A5D4; padding: 30px; border-radius: 25px;">-->

<table class="table">
    <thead>
        <tr>
            <th>
                Número Mecanográfico
            </th>
            <th>
                Nome
            </th>
            <th>
                Especialidade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enfermeiros)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroMecanografico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EspecialidadeEnfermeiro.Especialidade)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EnfermeiroId"><input type="button" value="Alterar" class="btn btn-warning" /></a>
                    <a asp-action="Details" asp-route-id="@item.EnfermeiroId"><input type="button" value="Detalhes" class="btn btn-info" /></a>
                    <a asp-action="Delete" asp-route-id="@item.EnfermeiroId"><input type="button" value="Eliminar" class="btn btn-danger" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div page-model="@Model.Pagination"
     page-action="Index"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-default"
     page-class-selected="btn-primary"
     class="btn-group pull-right">
</div>

<br />
<hr />
<p>
    <a asp-action="Create"><input type="button" value="Inserir Novo Enfermeiro" class="btn btn-primary" /></a>
</p>
<hr />
<div>
    <a href='@Url.Action("GestaoHospitalar", "DiretorServico")'>
        <input type="button" class="btn btn-default" value="Voltar à página inicial" />
    </a>
</div>