@model IEnumerable<EscalonamentoHospitalar.Models.Enfermeiro>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Enfermeiros</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Nome
            </th>
            <th>
                Contacto
            </th>
            <th>
                Email
            </th>
            <th>
                Data de Nascimento
            </th>
            <th>
                Nº CC/BI
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMecanografico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Nascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnfermeiroId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnfermeiroId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnfermeiroId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
