@model IEnumerable<EscalonamentoHospitalar.Models.Enfermeiros>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Identity/Pages/Account/_ViewImports.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroMecanografico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspecialidadeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMecanografico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Nascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspecialidadeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnfermeiroID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnfermeiroID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnfermeiroID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
